/*#################################

* Trojansky - UI Kit 2.0
* Copyright 2021 Trojansky - https://www.trojansky.pl
* Created by Mateusz Trojański
* Licensed under MIT

#################################*/

$text-color: #344767;
$text-color-dark: rgb(248, 249, 250);

$colors: (
        "primary": (
                "normal": #b5179e,
                "darker": #b5179e80,
                "gradient": linear-gradient(to top right, #b5179e 0%, #f72585 100%),
                "shadow": 0 0 0 .25rem #f7258538,
        ),
        "secondary": (
                "normal": #a8a8a8,
                "darker": #a8a8a880,
                "gradient": linear-gradient(to top right, #a8a8a8 0%, #d6d6d6 100%),
                "shadow": 0 0 0 .25rem #a8a8a838,
        ),
        "success": (
                "normal": #1bc44b,
                "darker": #1bc44b80,
                "gradient": linear-gradient(to top right, #1bc44b 0%, #96d406 100%),
                "shadow": 0 0 0 .25rem #34e06538,
        ),
        "danger": (
                "normal": #d00000,
                "darker": #d0000080,
                "gradient": linear-gradient(to top right, #d00000 0%, #ff896a 100%),
                "shadow": 0 0 0 .25rem #ff896a38,
        ),
        "warning": (
                "normal": #ffa200,
                "darker": #ffa20080,
                "gradient": linear-gradient(to top right, #ffa200 0%, #ffd000 100%),
                "shadow": 0 0 0 .25rem #ffa20038,
        ),
        "info": (
                "normal": #00b4d8,
                "darker": #00b4d880,
                "gradient": linear-gradient(to top right, #00b4d8 0%, #ade8f4 100%),
                "shadow": 0 0 0 .25rem #00b4d838,
        ),
        "light": (
                "normal": #f5f3f4,
                "darker": #f5f3f480,
                "gradient": linear-gradient(to top right, #f5f3f4 0%, #fcfcfc 100%),
                "shadow": 0 0 0 .25rem #f5f3f468,
        ),
        "dark": (
                "normal": #111111,
                "darker": #11111180,
                "gradient": linear-gradient(to top right, #111111 0%, #575757 100%),
                "shadow": 0 0 0 .25rem #11111138,
        ),
);

$animations: (
        "fade-right": translateX(100%),
        "fade-left": translateX(-100%),
        "fade-top": translateY(-100%),
        "fade-bottom": translateY(100%),
        "fade-top-right": translate(100%, -100%),
        "fade-top-left": translate(-100%, -100%),
        "fade-bottom-right": translate(100%, 100%),
        "fade-bottom-left": translate(-100%, 100%),
        "zoom": scale(1.2),
        "zoom-right": scale(1.2) translateX(15%),
        "zoom-left": scale(1.2) translateX(-15%),
        "zoom-top": scale(1.2) translateY(-50%),
        "zoom-bottom": scale(1.2) translateY(50%),
        "zoom-top-right": scale(1.2) translate(15%, -50%),
        "zoom-top-left": scale(1.2) translate(-15%, -50%),
        "zoom-bottom-right": scale(1.2) translate(15%, -50%),
        "zoom-bottom-left": scale(1.2) translate(-15%, 50%),
);

body {
  background-color: rgb(248, 249, 250);
}

body.dark-theme {
  background-color: rgb(0, 0, 0);
}

.section,
section {
  box-shadow: 5px 20px 30px 0 rgba(0, 0, 0, 0.06);
  color: $text-color;
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0.4rem;
}

.dark-theme .section,
.dark-theme section {
  box-shadow: 5px 20px 30px 0 rgba(255, 255, 255, 0.06);
  color: $text-color-dark;
  background-color: #1B1C1B;
}

.section b {
  font-weight: 600;
}

/* buttons */

.btn {
  border-radius: 1.3rem;
  transition: .3s;

  &,
  &:disabled {
    border: 0;
  }

  &:hover {
    border-color: #ffffff00;
    transform: translateY(-4px);
  }

  &-scale:hover {
    margin-top: 0;
    transform: scale(1.05);
  }

  &-round-0 {
    border-radius: 0;
  }

  &-round-5 {
    border-radius: 5px;
  }

  &-link {
    text-decoration: unset;
    background-image: none;
    background-color: unset !important;
    border: 0;
  }
}

@each $name, $value in $colors {
  .btn {
    &-#{$name} {
      background-image: map-get($value, "gradient");
      @if $name == "warning" or $name == "info" {
        color: white;
      }
    }

    &-#{$name}:hover {
      @if $name == "warning" or $name == "info" {
        color: white;
      }
    }

    &-#{$name}:focus,
    &-outline-#{$name}:focus {
      box-shadow: map-get($value, "shadow") !important;
    }
  }
}

/* btn-outline */

@each $name, $value in $colors {
  .btn {
    &-outline-#{$name} {
      position: relative;
      box-shadow: 0px 0px 0px 1px map-get($value, "normal");
      @if $name == "light" {
        color: #5b5b5b;
      } @else {
        color: map-get($value, "normal");
      }
    }

    &-outline-#{$name}:hover {
      @if $name == "warning" or $name == "info" {
        color: #ffffff;
      }
    }

    &-outline-#{$name}:hover,
    &-outline-#{$name}:active {
      background-color: map-get($value, "normal");
      background-image: map-get($value, "gradient") !important;
    }

    &-outline-#{$name}::before {
      background: map-get($value, "gradient");
    }
  }
}

/* text && btn-link */

.btn-link:focus {
  box-shadow: unset !important;
}

@each $name, $value in $colors {

  .text-#{$name},
  .btn-link.btn-#{$name} {
    background: map-get($value, "gradient");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}


/* text-underline */


@each $name, $value in $colors {

  .text-underline {
    &-#{$name} {
      text-decoration: unset;
      position: relative;
      color: map-get($value, "normal");
    }

    &-#{$name}::before {
      content: " ";
      width: 0;
      height: 2px;
      position: absolute;
      background-image: map-get($value, "gradient");
      bottom: -2px;
      transition: .2s width;
    }

    &-#{$name}:hover {
      color: map-get($value, "normal");
    }

    &-#{$name}:hover::before {
      width: 100%;
    }

    &-#{$name}:focus-visible {
      outline: unset;
    }
  }

}

/* inputs */

.form-group {
  position: relative;
  margin-top: 15px;
  color: $text-color;
}

.dark-theme .form-group {
  color: $text-color-dark;
}

.dark-theme input, .dark-theme input:focus {
  background-color: black;
}

.form-group .label-placeholder {
  position: absolute;
  transform: translateY(8px) translateX(14px);
  top: 0;
  cursor: auto;
  transition: .3s;
  padding: 0 5px;
}

.form-group input:focus ~ .label-placeholder,
.form-group textarea:focus ~ .label-placeholder,
.form-group textarea:not(:placeholder-shown) ~ .label-placeholder,
.form-group input:not(:placeholder-shown) ~ .label-placeholder {
  transform: translateY(-12px) translateX(10px) scale(.7);
  background-image: linear-gradient(to top, #fff 50%, #fff0 100%);
}

.dark-theme .form-group input:focus ~ .label-placeholder,
.dark-theme .form-group textarea:focus ~ .label-placeholder,
.dark-theme .form-group textarea:not(:placeholder-shown) ~ .label-placeholder,
.dark-theme .form-group input:not(:placeholder-shown) ~ .label-placeholder {
  background-image: linear-gradient(to top, #000 50%, #0000 100%);
}

.form-group input,
.form-control {
  padding: .5rem .75rem;
  border-radius: 2rem;
  box-shadow: 5px 20px 30px 5px rgba(0, 0, 0, 0.06);
  border: .1px solid #f2f2f2;
  color: #6c757d;
}

.dark-theme .form-group input,
.dark-theme .form-control {
  box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, 0.06);
  border: .1px solid #121012;
  color: #c6cbce;
}

.dark-theme textarea,
.dark-theme textarea:focus {
  border: .1px solid #121012;
  background-color: black;

}

.form-group input:focus,
.form-control:focus {
  box-shadow: 5px 20px 30px 5px rgba(0, 0, 0, 0.09);
  border: .1px solid #f2f2f2;
  color: $text-color;
}

.dark-theme .form-group input:focus,
.dark-theme .form-control:focus {
  box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, 0.09);
  border: .1px solid #121012;
  color: $text-color-dark;
}

.form-group small.text-muted {
  margin-left: 8px;
}

.form-group .is-valid,
.dark-theme .form-group .is-valid {
  border-color: #1bc44b80;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='%231bc44b' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
}

.form-group input.is-valid:focus ~ .label-placeholder,
.form-group input.is-valid:not(:placeholder-shown) ~ .label-placeholder {
  color: #1bc44b;
}

.form-group .is-valid:focus,
.dark-theme .form-group .is-valid:focus {
  border-color: #1bc44b80;
  box-shadow: 5px 20px 30px 5px rgba(0, 0, 0, 0.09);
}

.dark-theme .form-group .is-valid:focus {
  box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, 0.09);
}

.form-group .is-invalid,
.dark-theme .form-group .is-invalid {
  border-color: #d0000080;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='%23d00000' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.form-group input.is-invalid:focus ~ .label-placeholder,
.form-group input.is-invalid:not(:placeholder-shown) ~ .label-placeholder {
  color: #d00000;
}

.form-group .is-invalid:focus,
.dark-theme .form-group .is-invalid:focus {
  border-color: #d0000080;
  box-shadow: 5px 20px 30px 5px rgba(0, 0, 0, 0.09);
}

.dark-theme .form-group .is-invalid:focus {
  box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, 0.09);
}

.form-group .input-group-prepend .input-group-text,
.form-group .input-group-append .input-group-text {
  background-color: unset;
  height: 100%;
  min-width: 45px;
  justify-content: center;
  box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.05);
  border: .1px solid #f2f2f2;
}

.dark-theme .form-group .input-group-prepend .input-group-text,
.dark-theme .form-group .input-group-append .input-group-text {
  border: .1px solid #121012;
  color: $text-color-dark;
  background-color: #121012;
}

.form-group .input-group-prepend .input-group-text {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.form-group .input-group-append .input-group-text {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.form-group .input-group .input-group-prepend ~ .label-placeholder {
  left: 40px;
}

.form-group .input-group .label-placeholder {
  z-index: 3;
}

.input-group:not(.has-validation) > .input-group-prepend ~ :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/* checkbox && switches && radio */

.form-check input,
.form-check label {
  cursor: pointer;
}

.form-check .form-check-input {
  transition: .3s;
}

.form-check .form-check-input[type=checkbox]:focus {
  box-shadow: unset;
  border: 1px solid rgba(0, 0, 0, .25);
}

.form-check:not(.form-switch) .form-check-input[type=checkbox]:active {
  transform: translateY(-8px);
}

.form-switch .form-check-input:focus:not(:checked) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.form-check input[type=radio].form-check-input {
  transition: .1s;
}

.form-check input[type=radio].form-check-input:active:not(:disabled):not(:checked) {
  transform: translateX(-2px);
}

.form-check input[type=radio].form-check-input:focus {
  box-shadow: unset;
}

@each $name, $value in $colors {

  @if $name == "primary" {
    .form-check .form-check-input:checked {
      background-color: map-get($value, "normal");
      border-color: map-get($value, "darker");
    }
  }
  .form-check .check-#{$name}.form-check-input:checked {
    background-color: map-get($value, "normal");
    border-color: map-get($value, "darker");
  }

}

/* table */

.table,
.table-light {
  box-shadow: 5px 20px 30px 5px rgba(0, 0, 0, 0.06);
  border-radius: 2rem;
  color: $text-color;
  background-color: #fff;
}

.table > :not(caption) > * > *,
.table-light > :not(caption) > * > * {
  border: unset;
  padding: .65rem;
  background-color: unset;
}

.table > :not(caption):not(:first-child) > * > * {
  border-top: .2px solid #f2f2f2;
}

.table-dark {
  background-color: #202124;
  color: #F8F9FA;
}

.table-dark > :not(caption):not(:first-child) > * > * {
  border-top: .2px solid #2E2F32;
}

/* backgrounds */

@each $name, $value in $colors {

  .bg-#{$name} {
    @if $name != "light" {
      color: #F8F9FA;
    } @else {
      color: $text-color;
    }
    background-image: map-get($value, "gradient") !important;
  }

}

/* desktop navbar dropdown */

@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    margin-top: 0;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}

/* navbar dropdown */

.dropdown-menu {
  box-shadow: 5px 20px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  border: .1px solid #f2f2f2;
}

.dropdown-item,
.dropdown-menu > li {
  transition: .2s;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: unset;
  color: $text-color;
}

.dropdown-menu > li:hover {
  transform: translateX(-5px);
}

.dropdown-divider {
  border-top: 1px solid #c8c8c8;
}

nav.bg-dark .dropdown-menu {
  border: .1px solid #393939;
  background-color: #202124;
}

nav.bg-dark .dropdown-menu .dropdown-item {
  color: #F8F9FA;
}

/* alerts */

.btn-close {
  transition: .2s;
}

.btn-close:focus {
  box-shadow: unset;
}

.btn-close:hover {
  transform: rotate(90deg);
}

@each $name, $value in $colors {

  .alert-#{$name} {
    @if $name != "light" {
      color: #F8F9FA;
    }
    background-image: map-get($value, "gradient") !important;
    border: 1px solid map-get($value, "darker");
    border-radius: 2rem;
  }

}

/* mouse follower */

.mouse-follower {
  content: " ";
  z-index: 999999;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: .2s left, .2s top, .2s width, .2s height, .2s background-color, .2s opacity;
}

#mouse-follower {
  background-color: #34476773;
  width: 10px;
  height: 10px;
  top: -5px;
  left: -5px;
}

.dark-theme #mouse-follower {
  background-color: #d5d8dd73;
}

#mouse-follower.grow {
  background-color: #3447671c;
  width: 60px;
  height: 60px;
  top: -30px;
  left: -30px;
}

.dark-theme #mouse-follower.grow {
  background-color: #d5d8dd50;
}

.dark-theme #mouse-follower-ring {
  background-color: #b9b9b91c;
}

#mouse-follower-ring {
  background-color: #34476700;
  width: 30px;
  height: 30px;
  top: -15px;
  left: -15px;
  border: 1px solid #0000001c;
}

#mouse-follower-ring.grow {
  opacity: 0;
}

#mouse-follower-ring.click {
  background-color: #3447671c;
  opacity: 1;
  width: 60px;
  height: 60px;
  top: -30px;
  left: -30px;
}

.dark-theme #mouse-follower-ring.click {
  background-color: #b9b9b91c;
}

/* Date picker */

#datepicker {
  position: absolute;
  background-color: white;
  color: #515365;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px 7px 25px 7px;
  top: 0px;
  left: 0px;
  border-radius: 2rem;
  user-select: none;
}

.dark-theme #datepicker {
  background-color: #000;
  color: $text-color-dark;
}

#datepicker td {
  width: 40px;
  height: 40px;
  transition: .2s;
}

#datepicker td.select-date {
  border-radius: 50%;
}

#datepicker td.select-date:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.dark-theme #datepicker td.select-date:hover {
  background-color: #1B1C1B;
}

#datepicker td.selected-date {
  background-color: #ddd;
  cursor: pointer;
  border-radius: 50%;
}

.dark-theme #datepicker td.selected-date {
  background-color: #3a3a3a;
}

.datepicker-hide {
  display: none;
}

.datepicker-info {
  text-align: center;
  width: 100%;
}

.change-datepicker {
  cursor: pointer;
  font-weight: 600;
  font-size: 130%;
  margin: 10px;
}

.change-datepicker-next {
  position: absolute;
  right: 30px;
}

.change-datepicker-prev {
  position: absolute;
  left: 30px;
}

#datepicker-info {
  display: inline-flex;
}

#datepicker-info p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Animations */

.anim-prepare {
  opacity: 0;
}

.anim-run {
  opacity: 1;
  transition: .6s;
}

@each $name, $value in $animations {

  @keyframes #{$name} {
    0% {
      transform: #{$value}
    }
    100% {
      transform: translate(0)
    }
  }

  .anim-run[anim~="#{$name}"] {
    animation: #{$name} cubic-bezier(.500, .80, .30, .95) .8s;
  }

}

.parallax {
  width: 100%;
  height: 500px;
  background-attachment: scroll;
  background-size: 110%;
}

/* Custom scrollbar */

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}


*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom right, #111111 0%, #575757 100%) !important;
  border-radius: 10px;
  border: 3px solid #fff;
}

body.dark-theme::-webkit-scrollbar-track, .dark-theme *::-webkit-scrollbar-track {
  background: #111111;
}

body.dark-theme::-webkit-scrollbar-thumb, .dark-theme *::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom right, #a8a8a8 0%, #d6d6d6 100%) !important;
  border: 3px solid #000;
}